<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="userInfo" class="user.UserInfo"></bean>
	
	<!-- Hibernate的配置 -->
	<bean id="hibernateSessionFactory" class="DBConn.HibernateSessionFactory">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="configuration" ref="configuration"/>
	</bean>
	<bean id="sessionFactory" class="org.hibernate.SessionFactory"></bean>
	<bean id="configuration" class="org.hibernate.cfg.Configuration"></bean>
	<!-- Hibernate配置完成 -->
</beans>